:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --text-size-1: 40px;
  --text-size-1-sm: 32px;
  --text-size-2: 28px;
  --text-size-3: 20px;
  --text-size-4: 16px;

  --font-serif: "Young Serif", serif;
  --font-sans-serif: "Outfit", sans-serif;

  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-950: 76px;
  --space-1600: 128px;

  --radius-lg: 24px;
  --radius-sm: 12px;

  --seporator: 1px solid var(--stone-150);

  --max-width: 736px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--stone-100);
  color: var(--stone-600);
  font-family: var(--font-sans-serif);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-size-4);
  line-height: 1.5;
}

h1,
h2 {
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

h1 {
  color: var(--stone-900);
  font-size: var(--text-size-1-sm);

  @media (min-width: 550px) {
    font-size: var(--text-size-1);
  }
}

h2 {
  color: var(--brown-800);
  font-size: var(--text-size-2);
}

picture,
img {
  max-width: 100%;
  display: block;
}

hr {
  border: none;
  border-block-start: var(--seporator);
}

ul,
ol {
  --_list-indent: var(--list-indent, var(--space-500));
  --_marker-type: var(--marker-type, disc);
  --_marker-suffix: var(--marker-suffix, "");
  --_marker-color: var(--marker-color, var(--brown-800));
  list-style: none;

  li {
    --flow-space: var(--space-100);
    margin-inline-start: var(--_list-indent);
    text-indent: calc(var(--_list-indent) * -1);
  }

  li::before {
    content: counter(list-item, var(--_marker-type)) var(--_marker-suffix);
    color: var(--_marker-color);
    font-weight: 700;
    font-variant-numeric: normal;
    display: block;
    float: left;
    min-width: var(--space-200);
    margin-inline: var(--space-100) var(--space-200);
  }
}

ol {
  --marker-type: decimal;
  --marker-suffix: ".";
}

table {
  --_left-right-padding: var(--left-right-padding, var(--space-400));
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

th,
td {
  padding: var(--space-150) var(--space-100);

  &:first-child {
    padding-inline-start: var(--_left-right-padding);
  }

  &:last-child {
    padding-inline-end: var(--_left-right-padding);
  }
}

th {
  font-weight: 400;
}

td {
  font-weight: 700;
  color: var(--brown-800);
}

tr {
  & + & {
    border-block-start: var(--seporator);
  }

  &:first-child > * {
    padding-block-start: 0;
  }

  &:last-child > * {
    padding-block-end: 0;
  }
}

.flow > * + * {
  margin-block-start: var(--flow-space, var(--space-500));
}

.challenge-wrapper {
  --_max-width: var(--max-width, 320px);
  --_wrapper-padding: var(--wrapper-padding, 0);

  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: var(--_wrapper-padding);

  @media (min-width: 550px) {
    --_wrapper-padding: var(--space-1600)
      max(var(--space-950), calc(50% - var(--_max-width) / 2));
  }
}

.recipe {
  background-color: var(--white);

  @media (min-width: 550px) {
    border-radius: var(--radius-lg);
    padding: var(--space-500);
  }
}

.recipe__image {
  overflow: hidden;

  @media (min-width: 550px) {
    border-radius: var(--radius-sm);
  }
}

.recipe__content {
  padding: var(--space-400);
  padding-block-start: 0;

  @media (min-width: 550px) {
    padding: 0;
  }

  > * {
    --flow-space: var(--space-400);
  }

  > section > *,
  > p {
    --flow-space: var(--space-300);
  }
}

.prep-time {
  --_prep-time-color: var(--prep-time-color, var(--rose-800));
  --marker-color: var(--rose-800);
  background-color: hsl(from var(--_prep-time-color) h 100% 98%);
  border-radius: var(--radius-sm);
  padding: var(--space-300);

  > * {
    --flow-space: var(--space-200);
  }

  h2 {
    color: var(--_prep-time-color);
    font-family: var(--font-sans-serif);
    font-size: var(--text-size-3);
    font-weight: 600;
  }
}
